<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="account" asp-action="signup">sign up</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="account" asp-action="signin">sign in</a>
</li>


