
<div class="login-container login">
    <h1> Login </h1>
    <form class="form-container d-flex flex-column">
        <div class="form-row">         
            <div class="col-md-12">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" placeholder="Type your e-mail here..." required>
            </div>
            <div class="col-md-12 mt-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Your password..." required>
            </div>         
        </div>
        <button class="btn btn-secondary mt-3" type="submit"> Login </button>
    </form>
</div>
