
<div class="login-container signup">
    <h1> SignUp</h1>
    <form class="form-container d-flex flex-column">
        <div class="form-row">
            <div class="col-md-12">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Type your username here..." required>
            </div>
            <div class="col-md-12">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" placeholder="Type your e-mail here..." required>
            </div>
            <div class="col-md-12 mt-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Your password..." required>
            </div>
            <div class="col-md-12 mt-3">
                <label for="confirmpassword">Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm your password..." required>
                </div>
            </div>
        </div>
        <button class="btn btn-success mt-3" type="submit">Submit form</button>
    </form>
</div>
