@model Usuario
@{
    ViewData["Title"] = "Home Page";   
}

@if(Model != null)
{
    <h1> Welcome back, @Model.Username </h1>
    <div class="container d-flex justify-content-center align-content-center">
        <div class="auth-container">
            <div class="auth-box is-auth">
                Usuário Autenticado
            </div>
        </div>
    </div>
}
else
{
    <div class="container d-flex justify-content-center align-content-center">
        <div class="auth-container ">
            <div class="auth-box is-notauth">
                Usuário Não Autenticado
            </div>
        </div>
    </div>
}
