@{
    ViewData["Title"] = "Home Page";
}


<div class="container d-flex justify-content-center align-content-center">
    <div class="auth-container">
        <div class="auth-box">

        </div>
    </div>
</div>