

@if(SignInManager.IsSignedIn(User))
{
    <h1> Welcome back, @User.Identity.Name </h1>
    <div class="container d-flex justify-content-center align-content-center">
        <div class="auth-container">
            <div class="auth-box is-auth">
                Usuário Autenticado
            </div>
        </div>
    </div>
}
else
{
    <div class="container d-flex justify-content-center align-content-center">
        <div class="auth-container ">
            <div class="auth-box is-notauth">
                Usuário Não Autenticado
            </div>
        </div>
    </div>
}
